@import "variable/*"
@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 400px 600px 780px 992px 1300px
rupture.scale-names = 'xs' 'sm' 'm' 'l' 'xl' 'hd'
jeet.gutter = 1
yellow = #FFE400
brown = #6D2B2B
red = #EC3D3D
orange = #FF693A


.main-cont
	center(1280px)
body
	font-family 'intro'
a
	text-decoration none
f()
	display flex
fl()
	flex-flow column
fw()
	flex-wrap wrap
.header
	box-shadow 0 0 5px rgba(0, 0, 0, 0.16)
	background white
	z-index 3000
.header-wraper
	+below(768px)
		fw()
		height auto
	flex(between)
	height 86px
	position relative
	background white
	z-index 3000
.header-logo
	+below(1280px)
		img
			width 100%
	+below(768px)
		order 1
		width 40%
		height 100%
		height 86px
		flex(mid)
		//padding 20px 0
	padding 5px
	margin 0 10px
	img
		max-width 200px
.header-menu-el
	color #6d2b2b
	font-family open sans
	font-size 14px
	font-weight 600
	line-height 15px
	padding 10px
	height 100%
	flex(mid)
	white-space nowrap
	

.header-menu
	+above(992px)
		display flex  !important
	+below(992px)
		display none
		width 100%
		position absolute
		top 86px
		left 0
		background red
		height 60%
		a
			color white
		z-index 2000
	+below(768px)
		fw()
		top 140px
	flex(mid)
	height 100%
.header-contact
	+below(1280px)
		padding 0 10px
	+below(768px)
		order 2
		span
			font-size 10px !important
			font-size 10px
	font-size 18px
	padding 0 20px
	flex(around)
	fl()
	.cont-plus
		color #ec3d3d
	.mark-plus
		color #ec3d3d
		font-family Impact
		font-size 18px
		text-transform uppercase
	.mark-red
		color #ec3d3d
		font-family Intro
		font-size 18px
		text-transform uppercase
	.mark-minus
		color #3c3c3c
		font-family Impact
		font-size 18px
		text-transform uppercase
.header-contact-mail
	+below(768px)
		font-size 10px
	color #3c3c3c
	font-family verdana
	font-size 14px
	
.header-contact-numb
	+below(768px)
		font-size 10px
.header-button
	+below(1280px)
		a
			font-size 10px
			height 45px
			flex(mid)
	+below(768px)
		display none
	fl()
	flex(mid)
.header-button-download
	background yellow
	color brown
	width 100%
	padding 12px 20px
.header-button-callback
	background orange
	color white
	width 100%
	padding 12px 20px
		
.header-basket
	+below(768px)
		width 100%
		height auto
	height 100%
	padding 5px
	flex(mid)
	fl()
	background red
.header-basket-icon
	+below(768px)
		display block
	i
		display none
.header-basket-price
	+below(1280px)
		font-size 12px
		white-space nowrap
	margin-top 10px
	text-align center
	width 100%
	color white
	font-family Intro
	font-size 17px
	font-weight 400
	line-height 15px
	text-transform uppercase
.header-right-part
	+below(768px)
		order 3
		width 100%
		height auto
	f()
	height 100%

//.type-service 
//.main-cont 
.type-service-wraper 
	+below(768px)
		margin 20px 0
	flex(around)
	margin 60px 0
.type-service-el
	+below(480px)
		width 100%
		padding 5px
	padding 30px
	border-radius 5px
	width 25%
	flex(around)
	fl()
	&:hover
		box-shadow 0 0 5px rgba(0, 0, 0, 0.07)
.type-service-el-img
	+below(480px)
		width 40%
	margin-bottom 20px
.type-service-el-text
	+below(480px)
		font-size 12px
	color #6d2b2b
	font-family Intro
	font-size 18px
	font-weight 400
	line-height 15px
	text-transform uppercase
	
.line-title
	flex(between)
	margin-bottom -30px
.line-title-dotted
	width 100%
	border-top 2px dotted red
.line-title-text
	+below(768px)
		font-size 14px
	color #6e2c2c
	font-family Intro
	font-size 25px
	font-weight 400
	line-height 33px
	text-transform uppercase
	padding 10px
	margin-top 0px
	white-space: nowrap

.slider-food
	+below(768px)
		padding 20px 0
	padding 70px 0
	bgi('bg-1.png')
	background-repeat: repeat;
.slider-food-wraper
	width 90%
.slider-food-el
	position relative
	padding 30px 0
	flex(mid)
	fl()
	&:hover
		background-color rgba(255, 255, 255, 0.8)
		border-radius 5px
		box-shadow 0 0 5px rgba(0, 0, 0, 0.07)
//.slider-food-el-title
//.slider-food-el-img
.slider-food-el-text
	font-family open sans
	font-size 14px
	font-weight 600
	width 90%
	text-align center
.mark-red
	color red
.slider-food-el-info-price
	+below(1100px)
		font-size 20px
	color #ff4d4d
	font-family Intro
	font-size 25px
	font-weight 400
	line-height 33px
	text-transform uppercase
.slider-food-el-info
	width 90%
	margin-top 20px
	flex(between)
	span
		text-shadow 0 -1px 0 rgba(240, 71, 60, 0.62)
		color white
		font-family Intro
		font-size 18px
		font-weight 400
		text-transform uppercase
		margin-right 10px

.slider-food-el-info-but
	+below(1100px)
		span
			font-size 16px
	flex(mid)
	padding 10px
	background-color #ec3d3d
	background-image linear-gradient(to top, #ec3d3d 0%, #ff693a 99%, #ff693a 100%)
	border-radius 3px
	box-shadow 0 2px 0 #b93f3f
	
.slider-food-cont
	flex(mid)
.owl-prev
	display: inline-block;
	background: red;
	color: white;
	padding-left: 20px;
	font-size: 40px;
	line-height: 10px;
	padding-right: 10px;
	border-radius: 3px;
	left -5%
.owl-next
	display: inline-block;
	background: red;
	color: white;
	padding-right: 20px;
	font-size: 40px;
	line-height: 10px;
	padding-left: 10px;
	border-radius: 3px;
	right -5%
.owl-next,
.owl-prev
	position absolute
	top 50%
	margin-top -20px
	
.owl-carousel
	position relative
	
.dish-wraper 
	+below(768px)
		padding 20px 0
	padding 70px 0
	flex-wrap wrap
	flex(around)
.dish-el
	+below(768px)
		width 40%
		margin-bottom 5px
	+below(480px)
		width 45%
	width 25%
	margin-bottom 40px
	fl()
	flex(around)
	&:hover
		border-radius 5px
		box-shadow 0 0 5px rgba(0, 0, 0, 0.07)
.dish-el-img 
	+below(480px)
		width 50%
	margin 20px
.dish-el-text
	+below(480px)
		font-size 12px
	text-align center
	color #6d2b2b
	font-family Intro
	font-size 18px
	font-weight 400
	line-height 15px
	text-transform uppercase
	padding-bottom 20px

.about
	+below(768px)
		background-image: none
	bgi('bg-food.png')
	background-size 45%
.about-wraper
	+below(1280px)
		flex(mid)
		padding-bottom 40 !important
	+below(768px)
		padding 20px 0
	+below(480px)
		font-size 12px !important
	f()
	justify-content flex-end
	padding 90px 0
.about-wraper-right
	+below(992px)
		width 80%
	flex(mid)
	fl()
	width 50%
	.mark-red
		font-size 18px
.about-wraper-right-img
	+below(760px)
		padding-bottom 20px
	padding-bottom 70px
	flex(mid)
.about-wraper-right-text
	font-family Intro
	font-weight 400
	line-height 25px
	font-size 14px
	margin-bottom 20px
	font-family open sans
	font-weight 600
	color #6e2c2c
	
.about-wraper-right-footer
	width 90%
	text-align center
	font-family Intro
	font-weight 400
	line-height 25px
	color #ec3d3d
	font-size 18px
	text-transform uppercase
	

.about-service
	+below(992px)
		margin-top 20px
		padding 0 2%
	margin-top 140px
	flex(mid)
	fw()
.about-service-el
	+below(768px)
		width 40%
	+below(480px)
		width 100%
	width 20%
	margin-bottom 40px
	margin-left 20px
	margin-right 20px
	flex(mid)
	fl()
.about-service-el-img
	+below(480px)
		width 40%
.about-service-el-title
	+below(992px)
		text-align center
	margin-top 30px
	margin-bottom 10px
	color #ec3d3d
	font-size 18px
	text-transform uppercase
.about-service-el-text
	color #6e2c2c
	font-size 12px
	text-align center
	font-family open sans
	line-height 18px
	color #6e2c2c
	font-weight 600
	
.review
	bgi('bg-1.png')
	background-repeat: repeat;
	padding 50px 0px
//.main-cont
.review-wraper
	flex(mid)
	width 80%
	margin 0 auto
.review-slider
	.owl-next
		margin-right -7%
	.owl-prev
		margin-left -7%
//.review-slider-row
.review-slider-el
	f()
	margin-bottom 20px
.review-slider-el-img
	width 10%
	margin-right 10px
	img
		width 100%
.review-slider-el-info
	f()
	fl()
	justify-content center
	width 90%
.review-slider-el-name
	font-family Intro
	font-weight 400
	color #ec3d3d
	font-size 18px
	text-transform uppercase
.review-slider-el-firm
	color #6e2c2c
	font-size 18px
	text-transform uppercase
	margin 5px 0
.reverce-slider
	.review-slider-el-info
		align-items flex-end
	.review-slider-el-img
		margin-right 0
		margin-left 20px
	flex-flow row-reverse
	.review-slider-el-text
		text-align right
		
.review-slider-el-text
	font-family open sans
	font-size 14px
	color #6e2c2c
.owl-carousel
	display block
	
.dotted-block
	border-top 2px dotted red
	
.footer-nav-cont
	+below(768px)
		span
			font-size 10px !important
	font-size 18px
	padding 0 20px
	flex(around)
	fl()
	.cont-plus
		color #ec3d3d
	.mark-plus
		color #ec3d3d
		font-family Impact
		font-size 18px
		text-transform uppercase
	.mark-red
		color #ec3d3d
		font-family Intro
		font-size 18px
		text-transform uppercase
	.mark-minus
		color #3c3c3c
		font-family Impact
		font-size 18px
		text-transform uppercase
.footer-contact-mail
	color #3c3c3c
	font-family verdana
	font-size 14px
	
.footer
	margin-top 40px
	box-shadow 0 0 5px rgba(0, 0, 0, 0.16)
//.footer-wraper
.footer-nav
	+below(992px)
		fw()
	padding 10px
	flex(between)
.footer-nav-img
	+below(992px)
		order 1
		margin-left 10px
.footer-nav-menu
	+below(992px)
		order 3
		width 100%
		margin 20px
	+below(768px)
		fw()
		flex(mid)
		margin 20px 0
	flex(between)
.footer-menu-el
	white-space nowrap
	+below(992px)
		margin-right 0
		font-size 14px
	+below(768px)
		margin 5px
		width 45%
		text-align center
	color #6d2b2b
	font-family Intro
	font-size 17px
	font-weight 600
	line-height 15px
	margin-right 15px
	font-family open sans
.footer-nav-cont
	+below(992px)
		order 2
		margin-bottom 10px
//.header-contact-mail
//.header-contact-numb
//.mark-red
//.mark-plus
//.mark-minus
.footer-info
	+below(768px)
		font-size 10px
	flex(mid)
	fw()
	text-align center
	padding 10px
	background red
.footer-info-text
	+below(768px)
		font-size 10px
		margin-bottom 10px
	margin-right 10px
	color white
	font-family Intro
	font-size 14px
	font-weight 400
	line-height 15px
	font-family Open Sans
//.footer-info-img

.minus,
.plus
	flex(mid)
	width 30px
	height 30px
	border 1px solid #eee
	&:hover
		cursor pointer
	size 18px 17px
	background-color #ec3d3d
	background-image linear-gradient(to top, #ec3d3d 0%, #ff693a 99%, #ff693a 100%)
	border 1px solid #EC3D3D
	border-radius 3px
	box-shadow 0 2px 0 #b93f3f
	color white
	line-height 14px
	text-align center
	display block

.plus
	line-height 16px
.basket
	+below(768px)
		padding 20px 0
	padding 70px 0
	bgi('bg-1.png')
	background-repeat: repeat;
//.basket-wrap
.basket-table
	width 100%
	th
		+below(1280px)
			font-size 12px
		+below(768px)
			display none
		text-align center
		color #6d2c2c
		font-size 17px
		font-weight 400
		line-height 65px
		text-transform uppercase
		&:nth-child(1)
			text-align left
	tbody
		tr
			border-bottom 1px solid #eee
			+below(768px)
				display flex
				width 100%
				fl()
				padding 10px 0
			td
				+below(768px)
					f()
					flex(mid)
					width 100%
	td
		padding 5px 0
		font-family Open sans
		font-weight 600
		font-size 14px
.basket-table-product
	+below(768px)
		flex(mid)
		fw()
	flex(mid)
	justify-content flex-start
.basket-table-product-img
	+below(768px)
		img
			width 120px!important
	img
		width 80px
		margin-right 10px
.basket-product-info
	+below(768px)
		text-align center
	font-family Open sans
	font-weight 600
	font-size 14px
.basket-table-product-name
	color #333
	font-size 17px
	font-weight 600
	text-transform uppercase
//.basket-table-product-text
.baket-table-date
	text-align center
	color #6d2c2c
	span
		color #ff4d4d
.basket-table-price
	color #ff4d4d
	text-transform uppercase
	text-align center
	
.basket-table-incr
	flex(mid)
	input
		border 0px
		text-align center
		background none
//.fa-angle-right
.basket-table-total
	color #ff4d4d
	text-align center
	text-transform uppercase
	
.basket-table-delete
	a
		color #ff4d4d
		font-size 20px
		display block
		text-align center
//.fa-times

.basket-full-price
	text-align center
	margin-top 20px
	font-family  Intro 
	font-weight 400
	line-height 50px
	text-transform uppercase
	color #6d2c2c
	font-size 18px
	span
		color #ff4d4d
		font-size 25px
.basket-form
	+below(768px)
		padding 20px 0
	padding 70px 0
.basket-form-wraper
	+below(768px)
		fw()
	f()
.basket-form-left
	+below(768px)
		width 100%
		padding 0 10px
	width 50%
.basket-form-row
	+below(768px)
		fw()
		input[type="text"]
			width 100%!important
		label
			width 100%!important
			text-align center !important
		textarea
			width 100%!important
			
	f()
	align-items center
	margin-bottom 10px
	input[type="text"]
		width 50%
	label
		width 50%
		text-align right
		margin-right 10px
		color #6d2c2c
		font-family Intro
		font-weight 600
		line-height 42px
		font-size 14px
		font-family Open Sans
	textarea
		width 50%
	textarea,input
		border 0
		border 1px solid #eee
		padding 5px
		font-family open sans
.basket-form-row-adress
	input[type="text"]
		width 9%
	label
		width auto
		margin-left 12px
	justify-content flex-end
			
.basket-form-radio
	align-items flex-start
.basket-form-radio-el
	width 50%
	input[type="radio"] 
		display:none;
	input[type="radio"] + label span 
		display:inline-block
		width:14px!important
		height:14px!important
		margin:-1px 4px 0 0
		vertical-align:middle
		background:url('../img/chek-false.png') no-repeat
		cursor:pointer
	input[type="radio"]:checked + label span 
		background:url('../img/chek-true.png') no-repeat
.basket-form-right
	+below(768px)
		width 100%
	width 40%
	padding-left 20px
	font-family open sans
	font-weight 600
	font-size 14px
	line-height 25px
	color #6e2c2c
	span
		display block
//.mark-red
.basket-form-radio-row-pay
	text
		position relative
	img
		position absolute
		right -120px
		top 2px
		
.basket-form-button
	flex(mid)
	margin-top 20px
	a
		text-shadow 0 -1px 0 rgba(240, 71, 60, 0.62)
		color white
		font-family Intro
		font-size 17px
		font-weight 400
		text-transform uppercase
		background-color #ec3d3d
		background-image linear-gradient(to top, #ec3d3d 0%, #ff693a 99%, #ff693a 100%)
		border 1px solid red
		border-radius 3px
		box-shadow 0 2px 0 #b93f3f
		size 201px 44px
		display block
		text-align center
		flex(mid)
		
.menu-page
	+below(992px)
		padding 30px 0
	padding 70px 0
//.main-cont
.menu-page-wraper
	f()
	fw()
.menu-page-nav
	+below(992px)
		width 100%
	width 20%
	a
		+below(992px)
			padding 5px 20px
			font-size 12px
		display block
		color #505050
		font-family Open Sans
		font-size 16px
		font-weight 600
		text-transform uppercase
		padding 10px
.menu-page-nav-active
	background-color #ec3d3d
	border-radius 5px
	color white!important
	position relative
	+below(992px)
		&:after
			content ''
			display none
	&:after
		content ''
		position absolute
		triangle : 'right' 8px white
		right 10px
		top 12px
.menu-page-nav-el
	+below(992px)
		margin-bottom 5px
		text-align center
	margin-bottom 20px
.menu-page-content
	+below(992px)
		width 100%
		padding 5px
	width 80%
	padding-left 40px
.menu-page-top
	+below(768px)
		fw()
		flex(mid)
		text-align center
	f()
.menu-page-top-week
	+below(768px)
		width 100%
		font-size 14px
	width 30%
	color #6d2c2c
	font-family Intro
	font-size 18px
	line-height 50px
	text-transform uppercase
	span
		color red
		font-family Intro
		font-size 17px
.menu-page-top-day-wraper
	+below(768px)
		width 100%
		flex(around)
	flex(between)
	width 70%
	
.menu-page-top-day
	+below(768px)
		font-size 14px
	color #6e2c2c
	font-size 25px
	font-weight 400
	text-transform uppercase
.menu-page-defautl
	opacity 0.55
//.menu-page-active
.menu-page-curent
	padding 5px
	color white
	background red
	border-radius 5px
.menu-page-items
	margin-top 20px
	.slider-food-el
		col(1/3,cycle:3)
		+below(768px)
			col(1/2,cycle:2,uncycle:3)
		+below(640px)
			width 100%
		margin-bottom 20px

.menu-page-items-date
	position absolute
	top 0
	right 0
	padding 5px
	color white
	background red
	border-radius 5px
	
.vacancy
	+below(768px)
		padding 20px 0
	padding 70px 0
	.r-tabs-panel
		font-family open sans
		padding 10px 20px
		font-family open sans!important
		display none
		p
			font-size 14px
			color #6e2c2c
			margin 5px 0
		ul
			color #6e2c2c
			font-family open sans
			font-size 14px
			padding-left 0px
			margin 0
		li
			list-style none
			line-height 24px
			&:before
				content '- '
	.r-tabs-state-active
		.vacancy-top
			background red!important
			border-radius 5px!important
			.vacancy-top-name
				color white!important
			.vacancy-top-val
				color white!important
			.vacancy-top-but-triangle
				transform rotate(180deg)!important
	.r-tabs-panel
		position relative
		&:before
			content ''
			position absolute
			triangle 'up' 8px red
			bottom 0px
			left 50%
				
//.main-cont 
//.vacancy-wraper 
.vacancy-el 
	margin-bottom 10px
	box-shadow: 0px 1px 1px #E4DFDF;
	border-radius 5px
.vacancy-top
	+below(768px)
		font-size 12px
		fw()
		padding-left 0px
		flex(around)
		box-shadow 1px 1px 4px grey
	flex(between)
	padding-left 10px
.vacancy-top-name
	+below(768px)
		font-size 10px
	color #6d2c2c
	font-size 18px
	font-weight 400
	line-height 50px
	text-transform uppercase
.vacancy-top-val
	+below(768px)
		font-size 10px
		span
			font-size 12px !important
	color #6d2c2c
	font-weight 400
	line-height 50px
	text-transform uppercase
	font-size 18px
	span
		font-size 25px

.vacancy-top-but
	+below(768px)
		font-size 10px
		border-radius 0
		span
			font-size 10px !important
	+below(640px)
		width 100%
		flex(around)
	flex(between)
	padding 15px 20px
	background red
	border-radius 5px
	font-size 16px
	font-weight 600
	text-transform uppercase
	color white
	font-family open sans
	&:hover
		cursor pointer
.vacancy-top-but-triangle
	triangle: "down" 8px white
	margin-left 10px
.vacancy-cont
	padding 10px 20px
	font-family open sans!important
	
	p
		font-size 14px
		color #6e2c2c
		margin 5px 0
	ul
		color #6e2c2c
		font-family open sans
		font-size 14px
		padding-left 0px
		margin 0
	li
		list-style none
		line-height 24px
		&:before
			content '- '
		

.vacancy_active
	background red
	border-radius 5px
	.vacancy-top-name
		color white
	.vacancy-top-val
		color white
	.vacancy-top-but-triangle
		transform rotate(180deg)

.vacancy-cont-title
	color #6e2c2c
	font-family Intro
	font-size 18px
	line-height 30px
	
.conten-page
	+below(768px)
		padding 20px 0
	padding 70px 0
	font-family open sans
	p
		font-size 14px
		color #6e2c2c
		margin 5px 0
	ul
		color #6e2c2c
		font-family open sans
		font-size 14px
		padding-left 0px
		margin 0
	li
		list-style none
		line-height 24px
		&:before
			content '- '
		
.conten-page-title
	font-family Intro
	text-align center
	font-size 18px
	text-transform uppercase
	color #6e2c2c
	margin-bottom 20px

//.contact-page
//.main-cont
.contact-page-wraper
	f()
	fw()
	padding 30px 0
.contact-page-adress
	+below(768px)
		width 100%
	width 50%
	padding 20px
	border-right 1px solid #eee
.contact-page-adress-el
	f()
	margin-bottom 20px
.contact-page-adress-icon
	+below(768px)
		img
			width 40px
	margin-right 10px
.contact-page-info
	+below(768px)
		width 100%
	width 50%
	padding 20px
	flex(mid)
	fl()
.contact-page-adress-info
	+below(768px)
		width 80%
.contact-page-adress-title
	color #6e2c2c
	font-size 17px
.contact-page-adress-text
	color #6e2c2c
	font-family open sans
	font-size 14px
	font-weight 600
//.contact-page-info-logo

.contact-page-info-text
	font-family Intro
	font-weight 400
	line-height 25px
	font-size 14px
	font-family open sans
	font-weight 600
	color #6e2c2c
	margin 40px 0
	width 90%

.contact-page-info-mark-text
	width 90%
	text-align center
	font-family Intro
	font-weight 400
	line-height 25px
	color #ec3d3d
	font-size 18px
	text-transform uppercase
	
.header-menu-el-service
	position relative
	+above(768px)
		&:hover
			.header-menu-sub-menu
				display block
.header-menu-sub-menu
	+below(768px)
		position relative
		//display block
		width 100%
		text-align center
	position absolute
	background orange
	width 300px
	display none
	a
		display block
		padding 10px
		color white
		font-size 14px
		font-weight 600
		font-family  open sans
		tr(all)
		&:hover
			background red
.header-menu-el-wrap
	+below(768px)
		width 100%
		background red
		height auto
	height 100%
	&:hover
		background orange
		a
			color white
.header-menu-toggle
	+below(992px)
		display flex
	+below(768px)
		order 4
		position absolute
		left 0px
		height auto
		padding 17px 30px
		background orange
	flex(mid)
	height 100%
	background red
	color white
	padding 20px 30px
	font-size 24px
	display none
.header-menu-el-wrap-mobile
	+below(768px)
		display block
	display none
	
.conten-page-wraper
	padding 10px