<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
	include ./block_html/const.jade
body
	
	include ./block_html/header.jade

	+title('Вакансии')
	
	.vacancy
		.main-cont
			.vacancy-wraper
					ul
						li
							a(href="#tab-1")
								.vacancy-el
									.vacancy-top
										.vacancy-top-name Помошник повара
										.vacancy-top-val от <span>27 000</span> до <span>35 000</span>
										.vacancy-top-but 
											span Подробнее
											.vacancy-top-but-triangle
						li
							a(href="#tab-2")
								.vacancy-el
									.vacancy-top
										.vacancy-top-name Помошник повара
										.vacancy-top-val от <span>27 000</span> до <span>35 000</span>
										.vacancy-top-but 
											span Подробнее
											.vacancy-top-but-triangle
						li
							a(href="#tab-3")
								.vacancy-el
									.vacancy-top
										.vacancy-top-name Помошник повара
										.vacancy-top-val от <span>27 000</span> до <span>35 000</span>
										.vacancy-top-but 
											span Подробнее
											.vacancy-top-but-triangle 

					.vacancy-con#tab-1
						.vacancy-cont-title Мы предлагаем
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis rerum veniam, aperiam eius accusantium natus dolores ad sapiente nam sunt aut minus nisi, tenetur quia reiciendis debitis in provident! Nostrum maxime quae similique necessitatibus, soluta aliquam quisquam fugiat odit consequuntur voluptatibus repellendus quibusdam, voluptatum earum. Minus optio, iste harum aperiam earum eligendi facilis sint at nulla impedit? Aliquam aliquid ipsum minus doloremque 
						
						.vacancy-cont-title Обязанности
						ul
							li Обслуживание посетителей - выдача блюд
							li Контроль наличия блюд на раздаче
							li Помощь поварам холодного и горячего цехов в приготовлении блюд
							li Соблюдение санитарных правил и требований СЭС, соблюдение стандартов личной гигиены
							li Организация рабочего места и поддержание порядка
							li На эту позицию мы ищем человека, имеющего:
							li Профильное образование желательно
							li Опыт работы - от 3 месяцев
							li Дружелюбие, желание общаться с клиентами
								li Желание развиваться в работе/сфере общепита
					.vacancy-con#tab-2
						.vacancy-cont-title Мы предлагаем
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis rerum veniam, aperiam eius accusantium natus dolores ad sapiente nam sunt aut minus nisi, tenetur quia reiciendis debitis in provident! Nostrum maxime quae similique necessitatibus, soluta aliquam quisquam fugiat odit consequuntur voluptatibus repellendus quibusdam, voluptatum earum. Minus optio, iste harum aperiam earum eligendi facilis sint at nulla impedit? Aliquam aliquid ipsum minus doloremque 
						
						.vacancy-cont-title Обязанности
							ul
								li Обслуживание посетителей - выдача блюд
								li Контроль наличия блюд на раздаче
								li Помощь поварам холодного и горячего цехов в приготовлении блюд
								li Соблюдение санитарных правил и требований СЭС, соблюдение стандартов личной гигиены
								li Организация рабочего места и поддержание порядка
								li На эту позицию мы ищем человека, имеющего:
								li Профильное образование желательно
								li Опыт работы - от 3 месяцев
								li Дружелюбие, желание общаться с клиентами
								li Желание развиваться в работе/сфере общепита
					.vacancy-con#tab-3
						.vacancy-cont-title Мы предлагаем
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis rerum veniam, aperiam eius accusantium natus dolores ad sapiente nam sunt aut minus nisi, tenetur quia reiciendis debitis in provident! Nostrum maxime quae similique necessitatibus, soluta aliquam quisquam fugiat odit consequuntur voluptatibus repellendus quibusdam, voluptatum earum. Minus optio, iste harum aperiam earum eligendi facilis sint at nulla impedit? Aliquam aliquid ipsum minus doloremque 
						
						.vacancy-cont-title Обязанности
							ul
								li Обслуживание посетителей - выдача блюд
								li Контроль наличия блюд на раздаче
								li Помощь поварам холодного и горячего цехов в приготовлении блюд
								li Соблюдение санитарных правил и требований СЭС, соблюдение стандартов личной гигиены
								li Организация рабочего места и поддержание порядка
								li На эту позицию мы ищем человека, имеющего:
								li Профильное образование желательно
								li Опыт работы - от 3 месяцев
								li Дружелюбие, желание общаться с клиентами
								li Желание развиваться в работе/сфере общепита
					
	.dotted-block
	
	include ./block_html/footer.jade
	
	//Include Footer
	include ./block_html/script.jade