.footer
	.main-cont
		.footer-wraper
			.footer-nav
				.footer-nav-img
					img(src="img/jq-logo.png", alt="")
				.footer-nav-menu
					a(href="#").footer-menu-el О компании
					a(href="#").footer-menu-el Сдедать заказ
					a(href="#").footer-menu-el Доставка и оплата
					a(href="#").footer-menu-el Вакансии
					a(href="#").footer-menu-el Отзывы
					a(href="#").footer-menu-el Контакты
				.footer-nav-cont
					.header-contact-mail malinalanch@mail.ru
					.header-contact-numb 
						<span class="mark-red"><span class="mark-plus">+</span>7 495</span> 231<span class="mark-minus">-</span>91<span class="mark-minus">-</span>12
					.header-contact-numb 
						<span class="mark-red"><span class="mark-plus">+</span>7 495</span> 997<span class="mark-minus">-</span>80<span class="mark-minus">-</span>54
	.footer-info
		.footer-info-text г. Москва, ул. Нижегородская д. 70, корпус 1 Принимаем к оплате
		.footer-info-img
			img(src="img/icon-pay.png", alt="")