.header
	.main-cont
		.header-wraper
			.header-logo
				img(src="img/main-logo.png", alt="")
			.header-menu
				a(href="#").header-menu-el Услуги
				a(href="#").header-menu-el Доставка и оплата
				a(href="#").header-menu-el Контакты
				a(href="#").header-menu-el О нас
				a(href="#").header-menu-el Отзывы
			.header-contact
				.header-contact-mail malinalanch@mail.ru
				.header-contact-numb 
					<span class="mark-red"><span class="mark-plus">+</span>7 495</span> 231<span class="mark-minus">-</span>91<span class="mark-minus">-</span>12
				.header-contact-numb 
					<span class="mark-red"><span class="mark-plus">+</span>7 495</span> 997<span class="mark-minus">-</span>80<span class="mark-minus">-</span>54
			.header-right-part
				.header-button
					a(href="#").header-button-download Скачать меню
					a(href="#").header-button-callback Обратная связь
				.header-basket
					a(href="#").header-basket-icon
						img(src="img/icon-basket.png", alt="")
					.header-basket-price 99 999 р.